:root{
    --sidebar-bg: #8860d0;
    --header-bg: #C1C8E4;
    --card-border: #5680e9;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #e7e7e7;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(4, 2fr);
    height: 100vh;
    width: 100vw;
}

/* SIDEBAR */

.sidebar{
    display: grid;
    background-color: rgb(143, 143, 143);
    grid-row: 1 / 5;
    background-color: var(--sidebar-bg);
    color: white;
}

.sidebar img{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

.sidebar h1{
    display: flex;
    justify-self: center;
    align-self: center;
    gap: 0.2rem;
}

.links{
    display: grid;
    grid-template-rows: repeat(6, 3rem);
    grid-template-columns: 1fr 2fr;
    list-style: none;
    padding-left: 2rem;
    padding-right: 2rem;
}

.links img{
    align-self: center;
    justify-self: center;
}

.links li{
    grid-column: 2 / 3;
    align-self: center;
    font-size: 1.3rem;
}


.oth-links{
    display: grid;
    grid-template-rows: repeat(3, 3rem);
    grid-template-columns: 1fr 2fr;
    list-style: none;
    padding-left: 2rem;
    padding-right: 2rem;
}

.oth-links img{
    align-self: center;
    justify-self: center;
}

.oth-links li{
    grid-column: 2 / 3;
    align-self: center;
    font-size: 1.3rem;
}

/*HEADER*/

.header{
    background-color: var(--header-bg);
    grid-row: 1 / 2;
    grid-column: 2 / 5;
    height: 20vh;
}

.search-row{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 2fr;
    gap: 1rem;
    padding: 0.5rem;
}

.search-row input{
    grid-column: 2 / 5;
    height: 1.5rem;
    align-self: center;
    border-radius: 20px;
    border: 2px solid #5680e9;
}

.search-row > img{
    align-self: center;
    justify-self: end;
}

.notif-sec{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hello-user{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr repeat(3, 2fr);
    padding: 1rem;
}

#bigLogo{
    grid-column: 1 / 2;
}

.user-info{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column: 1 / 3;
}

.text-grid{
    grid-column: 2 / 3;
    justify-self: start;
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#small-txt{
    grid-row: 1 / 2;
}
#big-txt{
    font-size: 1.5rem;
    grid-row: 2 / 3;
}

.user-btns{
    display: flex;
    grid-column: 5 / 8;
    height: 1.6rem;
    align-self: center;
    gap: 3.5rem;
    justify-self: center;
}

/* MAIN CONTENT */

.main-content{
    grid-area: 2 / 2 / 5 / 5;
    display: grid;
    grid-template-columns: 2fr 2fr 1.5fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr 1fr 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: -4rem;
    padding-bottom: 3vh;
}

.your-projects{
    display: grid;
    grid-area: 2 / 1 / 7 / 3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}
.announc{
    background-color: rgb(170, 109, 18);
    grid-area: 2 / 3 / 4 / 4;
    background-color: var(--header-bg);
}
.trending{
    background-color: rgb(28, 109, 175);
    grid-area: 5 / 3 / 7 / 4;
    background-color: var(--header-bg);
}

.card{
    padding: 1rem;
    border-left: 0.7rem solid var(--card-border);
    background-color: var(--header-bg);
    border-radius: 10px;
}

#ann-h2{
    grid-area: 1 / 3 / 2 / 4;
    font-size: 1.2rem;
    margin-left: 1rem;
    align-self: end;
    padding-bottom: 0.3rem;
}

#yrProject{
    font-size: 1.2rem;
    align-self: end;
    padding-bottom: 0.3rem;
}

#trend{
    grid-area: 4 / 3 / 5 / 4;
    align-self: end;
    padding-bottom: 0.3rem;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.trending{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: var(--header-bg);
    margin-left: 1rem;
    border-radius: 10px;
}

.small-icons{
    display: flex;
    justify-content: start;
    gap: 1.5rem;
    align-items: center;
    padding-left: 0.5rem;
}

.announc{
    border-radius: 10px;
    margin-left: 1rem;
}

.announc-text{
    padding: 1rem;
    font-size: 0.9rem;
}

button{
    border: 0px;
    border-radius: 10px;
    width: 6rem;
    background-color: var(--sidebar-bg);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

li:hover, button:hover, img:hover{
    cursor: pointer;
}